input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  font-size: 2rem;
  margin: 5px;
}

.shop-filter {
  height: 100%;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1rem;
}
.shop-filter p {
  color: rgb(79, 79, 79);
}
.shop-filter p:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.shop-filter div p:hover {
  color: black;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.433);
}
.filter-name {
  width: 15rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}
.filter-name p {
  cursor: pointer;
  font-size: larger;
  display: flex;
  gap: 5px;
  align-items: center;
}
.filter-name-number {
  margin-left: 3px;
  font-size: x-small;
  padding: 0px 5px;
  background-color: rgb(228, 228, 228);
  color: rgb(47, 47, 47);
}
.radio {
  margin: 0.5rem;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio .radio-label {
  position: relative;
  padding-left: 2em;
  line-height: 1.4em;
  cursor: pointer;
  display: inline-block;
}

.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0.5em;
  cursor: pointer;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #070809;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #18232c;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #c0c0c0;
  background: #c0c0c0;
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
.price-input-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 70%;
  padding-top: 13px;
  padding-bottom: 15px;
}
.price-input {
  width: 30%;
  height: 1.8rem;
}

.filter-price {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}
.rating-filter h4 {
  margin-bottom: 5px;
}
.rating-filter {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}
.company-filter h4 {
  margin-bottom: 5px;
}
.company-filter {
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}
.featured-filter h4 {
  margin-bottom: 5px;
}
.featured-filter {
  width: 100%;
}
.products {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-div {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  margin-top: 2rem;
  cursor: pointer;
}

.product-img {
  width: 23rem;
  height: 21.5rem;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.product-imgBackground {
  position: absolute;
  width: 100%;
  height: 63%;
  background-color: #0708095c;
  margin: 0px;
  text-align: center;
  transition: 1.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-imgBackground button {
  cursor: pointer;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.587);
  color: white;
  margin-top: 2rem;
  height: 3rem;
  width: 9rem;
  transition: 0.33s;
}
.product-imgBackground button:hover {
  background-color: rgba(0, 0, 0);
}
.product-div:hover {
  transform: scale(1.02);
  transition: transform 0.4s ease;
}
.product-info {
  background-color: rgb(251, 246, 246);
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}
.product-info h3 {
  margin-top: 14px;
  margin-bottom: 0px;
  font-size: x-large;
}
.product-info span {
  color: grey;
  font-size: smaller;
  margin-bottom: 10px;
}
.product-info p {
  font-size: larger;
}
.product-div:hover {
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.599);
}
.product-paginate {
  cursor: pointer;
  margin-top: 2rem;
  text-align: center;
  color: rgb(0, 0, 99);
  transition: 0.5s;
}
.product-paginate:hover {
  transform: scale(1.02);
  color: rgb(13, 13, 39);
}
.sorting-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.shop-sort {
  height: 3rem;
  display: flex;
  align-items: center;
}
.shop-sort h2 {
  margin: 0px;
  border: 0px;
  font-weight: 100;
  font-size: larger;
}
.shop-filter-responsive {
  display: none;
}
.shop-filter-responsive h2 {
  margin: 0px;
  border: 0px;
  font-weight: 100;
  font-size: x-large;
}
.shop-select {
  text-align: center;
  cursor: pointer;
  border: 0px;
  outline: 0px;
  font-size: x-large;
  background-color: rgb(254, 246, 246);
  padding: 0px;
  font-family: "Salsa", cursive, sans-serif;
}

.selected-filter-div {
  margin-left: 2rem;
  justify-content: start;
  display: flex;
}
.selected-filters {
  align-items: center;
  display: flex;
  gap: 15px;
}
.selected-filters p {
  display: flex;
  align-items: center;
  background-color: #1b1b1b;
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
  cursor: pointer;
}
.selected-filters span {
  cursor: pointer;

  display: flex;
  align-items: center;
  background-color: #1b1b1b;
  color: white;
  padding: 3px 6px;
  border-radius: 10px;
}
.selected-filters p span,
.selected-filters span span {
  margin-left: 1px;
  color: red;
}
.reset {
  font-size: medium;
  cursor: pointer;
  transition: 0.4s;
}
.reset:hover {
  color: grey;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.wrapper {
  height: 45vh;
  display: grid;
  place-items: end start;
  margin-left: 4rem;
}
.typing-demo {
  width: 22ch;
  max-width: 50%;
  animation: typing 2s steps(23), 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 6rem;
}
.home-link {
  margin-left: 4.5rem;
  font-size: x-large;
}
.home-link a {
  transition: 0.5s;
}
.home-link a:hover {
  color: white;
}

.home-arrow {
  margin-top: 35vh;
  margin-left: 4.5rem;
  transition: 0.5s;
}
.home-arrow:hover {
  color: white;
}
.home-categories {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 5rem;
}
.home-categories h2 {
  font-size: xx-large;
  width: max-content;
}
.home-categories-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-categories-div section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}
.home-categories-div section p {
  margin: 5px;
  font-weight: 800;
}
.home-categories-div section span {
  transition: transform 0.5s;
}
.home-categories-div section:hover {
  color: rgba(194, 2, 2, 0.8);
}
.home-categories-div section:hover span {
  transform: translateY(-20px);
}
.product-gallery {
  display: flex;
  flex-wrap: wrap;
}
.product-gallery section {
  height: 51vh;
  width: 50vw;
  background-size: cover;
  background-position: center;
  transition: 0.4s;
}
.product-gallery section div {
  margin-left: 10px;
}
.product-gallery section:hover {
  filter: brightness(73%);
}
.product-gallery section:nth-child(2n-1) {
  width: 55vw;
}
.product-gallery section:nth-child(2n) {
  width: 45vw;
}
.product-gallery a {
  transition: 0.5s;
  font-size: large;
}
.product-gallery a:hover {
  color: rgba(0, 0, 255, 1);
  text-decoration: underline;
}
.newsletter-div {
  margin-top: 0px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 4rem;
  margin-bottom: 0px;
}
.newsletter-div h1 {
  margin: 0px;
  padding-top: 3rem;
  font-size: 2.5rem;
  text-align: center;
}
.newsletter-div p {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 100;
  text-align: center;
  width: 40%;
}
.newsletter-div div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.newsletter-div input {
  width: 40%;
  height: 2.5rem;
  border: 1px solid grey;
  font-size: large;
  padding-left: 15px;
}
.newsletter-div button {
  cursor: pointer;
  width: fit-content;
  height: 3rem;
  margin-left: 15px;
  background-color: #070809;
  border: 2.5px solid rgb(0, 176, 0);
  border-radius: 4px;
  font-size: large;
  color: white;
  font-weight: 500;
  margin-bottom: 0px;
}
.faq-layout {
  margin-top: 0px;
  background-color: rgb(244, 246, 246);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.faq-div {
  width: 95%;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.573);
}
.faq-layout h1 {
  font-size: 2.3rem;
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}
.faq-div p {
  margin-top: 0px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.faq-div p span {
  margin-left: auto;
  padding-right: 10px;
  padding-top: 7px;
}
.faq-div p:nth-child(2) {
  font-size: 1rem;
}
.singleProduct-details {
  margin-top: 1rem;
  width: 100%;
}

.singleProduct-details div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 0px 0px;
}
.detailsSpan {
  cursor: pointer;
}
.detailsSpan.active {
  font-size: large;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.singleProduct-details article {
  color: rgb(57, 57, 57);
  width: 22rem;
}
.company-span {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 0px;
  font-size: 2.5rem;
  width: 100%;
  border-bottom: 1px solid grey;
}
.company-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.company-div img {
  width: 20rem;
  object-fit: cover;
  height: 23rem;
  border-radius: 10px 10px 0px 0px;
}
.company-div {
  width: 20rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
.company-div:hover {
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.599);
  transform: scale(1.04);
  transition: transform 0.4s ease;
}
.company-div section {
  padding-left: 7px;
  margin-top: 0px;
  background-color: rgb(245, 246, 246);
  padding-bottom: 1rem;
}
.company-div h1 {
  margin-top: 10px;
  font-size: x-large;
}
.company-div p {
  font-size: larger;
  font-weight: 900;
}

.cart-div {
  margin-left: 2%;
  display: flex;
  width: 50%;
  align-items: start;
  font-family: "Salsa", cursive, sans-serif;
}
.cart-div section img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
}
.cart-div section img:hover {
  filter: brightness(70%);
}
.cart-div div {
  margin-left: 1.5rem;
}
.cart-div div h1 {
  margin: 0px;
  padding: 0px;
  font-size: large;
}
.cart-div div p {
  margin-top: 0px;
  font-size: small;
  color: rgb(77, 77, 77);
}
.cart-div div button {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 0px;
  margin-top: 3rem;
  padding: 0.6rem 1rem;
  font-family: "Salsa", cursive, sans-serif;
  transition: 0.4s;
}
.cart-div div button:hover {
  background-color: rgb(240, 248, 255, 0);
  color: black;
  border-radius: 10px;
  border: 1px solid black;
}
.cart-price {
  margin: 0px;
  margin-left: auto;
  margin-top: auto;
}

.cart-checkout {
  width: 30%;
  position: absolute;
  top: 20%;
  right: 0;
  background-color: rgb(255, 221, 227);
  border-radius: 4px;
  padding: 60px 0px;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cart-total {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.cart-total section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.cart-total section h3 {
  margin: 0px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.cart-total section span {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-right: 15px;
}
.cart-total p {
  margin: 0px;
  color: rgb(96, 96, 96);
  font-size: medium;
}
.cart-button {
  cursor: pointer;
  margin-top: 15px;
  width: 80%;
  height: 2.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: transparent;
  transition: 0.4s;
}
.cart-button:hover {
  background-color: pink;
  border-radius: 0.6rem;
}
.cart-login {
  width: 85%;
  border-top: 1px solid rgba(128, 128, 128, 0.29);
}
.cart-login h5 {
  font-size: 1rem;
}
.cart-login h5 span {
  cursor: pointer;
  font-weight: bolder;
  margin-left: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}
.cart-login p {
  font-size: 0.9rem;
  color: rgb(44, 44, 44);
}
.cartCheckout-mini {
  border-top: 1px solid rgba(0, 0, 0, 0.267);
  background-color: rgb(255, 236, 239);
  position: sticky;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 6.7rem;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-bottom: 1rem;
}
.cartCheckout-mini section {
  font-size: larger;
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-right: 2rem;
}
.cartCheckout-mini section p {
  color: grey;
}
.cartCheckout-mini button {
  cursor: pointer;
  margin-right: 2rem;
  padding: 12px;
  width: 10rem;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 2px;
  color: black;
  font-size: 0.9rem;
  transition: 0.4s;
}
.cartCheckout-mini button:hover {
  border-radius: 7px;
  background-color: pink;
}
.whyUs {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  margin-top: 7vh;
}
.whyUs h1 {
  margin-bottom: 7vh;
}
.whyUsDiv-wrapper {
  width: 98%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.whyUsDiv-wrapper section {
  border: 1px solid rgba(128, 128, 128, 0.08);
  border-radius: 15px;
  padding: 10px;
  width: 30%;
  transition: 0.35s;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.599);
}

.whyUsDiv-wrapper section:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.599);
  background-color: green;
  transform: translateY(-10%);
  color: white;
}
.whyUsDiv-wrapper section:hover:nth-child(2) {
  background-color: skyblue;
  color: black;
}
/* 



 */
@media only screen and (max-width: 1150px) {
  .products {
    justify-content: center;
    gap: 1rem;
  }
  .product-img {
    width: 20rem;
    height: 19.5rem;
    padding: 0px;
    margin: 0px;
    position: relative;
  }
  .product-imgBackground {
    height: 60.2%;
  }
}
@media only screen and (max-width: 950px) {
  .cart-total section {
    width: 100%;
  }
  .cart-total section span {
    padding-right: 5px;
  }
  .shop-filter {
    display: none;
  }
  .shop-filter-responsive {
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 10px;
  }
}
@media only screen and (max-width: 750px) {
  .product-gallery {
    gap: 0.5rem;
  }
  .product-gallery section:nth-child(2n-1) {
    width: 100%;
  }
  .product-gallery section:nth-child(2n) {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .typing-demo {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 650px) {
  .company-div img {
    width: 12rem;
    object-fit: cover;
    height: 17rem;
    border-radius: 5px 5px 0px 0px;
  }
  .company-layout {
    justify-content: center;
    gap: 0.3rem;
  }
  .company-div {
    width: 12rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
  .typing-demo {
    font-size: 4.5rem;
  }
  .home-categories-div {
    gap: 2rem;
  }
  .home-categories h2 {
    font-size: x-large;
  }
  .home-categories-div section {
    background-color: rgba(128, 128, 128, 0.423);
    width: 100px;

    padding: 20px 5px;
    border-radius: 45%;
  }
  .whyUsDiv-wrapper {
    margin: 0px;
  }
}
@media only screen and (max-width: 550px) {
  .shop-sort h2 {
    margin: 0px;
    border: 0px;
    font-weight: 100;
    font-size: medium;
  }
  .shop-sort select {
    width: 1.5rem;
  }
  .reset {
    font-size: x-small;
  }
  .shop-filter-responsive h2 {
    font-size: large;
  }

  .wrapper {
    margin-left: 15px;
  }
  .home-link {
    margin-left: 17px;
  }
  .home-arrow {
    margin-left: 17px;
  }
}
@media only screen and (max-width: 490px) {
  .typing-demo {
    font-size: 3rem;
  }
}
